extends layout

block content
	.menu
		.logo
			p Placeholder Logo
		h1 Welcome to #{title}
		.items
			p Placeholder
	.wrapper
		h2 Login
		form(method='post', action='/login')
			p
				label(for='user')
					| Username: 
					input(name='user').user
			p
				label(for='pwd')
					| Password: 
					input(type='password', name='pwd').pwd
			button(type='submit') Login
		h2 Upload
		form(enctype='multipart/form-data', method='post', action='/upload')
			button(type='submit') Upload
			label(for='img')
				input(type='file', name='img').img
		p Outside form
		if vars.user
			p= vars.user
		if vars.img
			img(src=vars.img.path) 
		if vars.buffer
			img(src='data:image/png;base64,#{vars.buffer}')
		if vars.err
			p= vars.err
